title: "Advanced Configuration"
type: "object"
properties:
  options:
    title: "Options"
    type: "object"
    properties:
      ipAddress:
        title: "Bridge IP Address"
        type: "string"
      apiUsername:
        title: "API Username"
        type: "string"
        default: "newdeveloper"
    required: [
      "apiUsername"
    ]
required: [
  "options"
]
