angular: [
  { key: "data.lightNumber" }
  { key: "data.color" }
  { key: "data.on" }
  { key: "data.transitiontime" }
  {
    key: "data.alert"
    type: "select"
    titleMap: [
      {
        value: "none"
        name: "None"
      }
      {
        value: "select"
        name: "On"
      }
    ]
  }
  {
    key: "data.effect"
    type: "select"
    titleMap: [
      {
        value: "none"
        name: "None"
      }
      {
        value: "colorloop"
        name: "Color Loop"
      }
    ]
  }
]
